@use "../utils/_index.scss" as *;

// ==============================LOGO
.logo {
  display: flex;
  align-items: center;
  column-gap: 7px;
  &__img {
    display: block;
    width: 30px;
    aspect-ratio: 1 / 1;
    @include ibg;
  }
  &__title {
    font-size: 18px;
    font-weight: 600;
    color: $bg-color-main;
  }
}

.title {
  @include adaptive-property(font-size, 2, 0, 2.5, rem);
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: $text-color-main;
}
//=================================BUTTON=============================
.button {
  width: fit-content;
  padding-block: 0.75rem;
  padding-inline: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include adaptive-property(font-size, 0.875, 0, 1, rem);
  font-weight: 600;
  line-height: 1.2;

  border-radius: 40px;
  color: $bg-color-main;
  background: $text-color-main;
  cursor: pointer;
}
.button--big {
  width: max(fit-content, 350px);
}
