@use "../utils/index" as *;

.places {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: clip;
    margin-inline: auto;
    @include on-tablet {
      max-width: #{$container-width}px;
      padding-inline: 30px;
    }
  }
  &__top {
    max-width: 764px;
    @include adaptive-property(padding-inline, 16, 0, 30);
    text-align: center;
    @include adaptive-property(margin-bottom, 32, 0, 40);
  }
  &__title {
    @include adaptive-property(margin-bottom, 1, 0, 1.5, rem);
  }
  &__text {
    max-width: 460px;
    margin-inline: auto;
  }
  &__text p {
    @include adaptive-property(font-size, 1, 0, 1.125rem, rem);
  }
}
.swiper.places-slider {
  min-width: 0;
  @include adaptive-property(width, 320, 0, 1340);

  .places-slider__body {
    min-width: 0;
    position: relative;
    padding-inline: 15px;
    overflow: hidden;
  }
  .swiper-wrapper.places-slider__items {
    align-items: center;
    margin-inline: auto;
  }
  .places-slider__next,
  .places-slider__prev {
    display: none;
    position: absolute;
    top: calc(50% - 17px);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $text-color-main;
    border: 2px solid $bg-color-main;
    justify-content: center;
    align-items: center;
    transition: $transition-duraction;
    z-index: 2;
    cursor: pointer;

    @include on-tablet {
      display: flex;
    }
    &:hover {
      scale: 1.05;
    }
  }
  .places-slider__next {
    right: 0;
    rotate: 180deg;
  }
  .places-slider__prev {
    left: 0;
  }
}

.slide-places {
  @include adaptive-property(width, 200, 0, 430);
  position: relative;
  left: 0;
  top: 0;
  flex-shrink: 0;
  aspect-ratio: 1.1 / 1;
  cursor: pointer;
  transition: $transition-duraction;
  border-radius: $radius;
  overflow: hidden;

  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
    pointer-events: none;
    @include ibg;
  }
  &__text {
    width: fit-content;
    margin: 30px;
    color: $bg-color-main;
  }
  &__title {
    @include adaptive-property(font-size, 1, 0, 1.75, rem);
  }
  &__subtitle {
    @include adaptive-property(font-size, 0.8, 0, 1.125, rem);
  }
}
