@use "../utils/index" as *;

.ready {
  &__content {
    max-width: 1216px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include adaptive-property(padding-block, 40, 0, 64);
    @include adaptive-property(padding-inline, 16, 0, 64);
    background-color: $bg-color-2;
    border-radius: $radius;

    @include on-mobile-l {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__text-content {
    margin-bottom: 32px;

    @include on-mobile-l {
      max-width: 42%;
      margin-bottom: 0;
    }
  }

  &__title {
    @include adaptive-property(font-size, 1.375, 0, 1.75, rem);
    margin-bottom: 1rem;
    line-height: 1.3;
    transition-delay: var(--delay);
  }
  &__text {
    transition-delay: var(--delay);
  }

  &__text p {
    @include adaptive-property(font-size, 1, 0, 1.125, rem);
    line-height: 1.3;
    color: $text-color-2;
  }

  &__text p:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  &__buttons {
    width: 100%;

    @include on-mobile-l {
      width: fit-content;
    }
  }

  &__button {
    width: min(100%, 550px);
    transition-delay: var(--delay);

    @include on-mobile-l {
      width: fit-content;
    }
  }

  &__button:not(:last-child) {
    margin: 0 auto 12px;

    @include on-mobile-l {
      margin: 0 12px 0 0;
    }
  }
}