@use "../utils/index" as *;

.show-top {
  opacity: 0;
  transform: translate(0, 100px);
  filter:blur(33px);
  transition: $transition-duraction ease-in-out;
}
.show-top.active {
  opacity: 1;
  transform: translate(0, 0);
  filter:blur(0);
}
.show-left-right {
  opacity: 0;
  transform: translate(-100px, 0px);
  filter:blur(33px);
  transition: $transition-duraction ease-in-out;
}
.show-left-right.active {
  opacity: 1;
  transform: translate(0, 0);
  filter:blur(0);
}

